$background:#353232;
$light:#fff;
$dark:#000;

// text-shadow: 10px 10px 7px #3d3c3c;

    // --color-one:#272635;
    // --color-two:#121212;



@media (prefers-color-scheme: dark) {
    /* redefine dark mode colors here */
    // --color-one: #00ffff;
    // --color-two: #ff00ff;
  }